@import "../../../../../_assets/styles/main";

.container {
  display: grid;
  gap: 20px;

  @include min-md {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}

.container :global(> a:last-child) {
  @include min-md {
    grid-area: 3 / span 2;
  }
}
