.button-default {
  margin: 0;
  padding: 10px 20px;

  color: #ffffff;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;

  background-color: #000000;
  border: none;

  cursor: pointer;
}
