.form-sign-in {
  width: 40%;
}

.form-sign-in__button-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 -20px;
}

.form-sign-in__button-default {
  margin: 0 20px 20px;
}
