@import "@/domain/_assets/styles/mixins";
@import "@/domain/_assets/styles/variables";

.page-sign {
  display: flex;
  flex-direction: column;

  @media (min-width: $viewport-width-md) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.page-sign__caption {
  @include sr-only;
}
