.container-form-sign-up {
  width: 46%;
}

.container-form-sign-up__button-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 -20px;
}

.container-form-sign-up__button-default {
  margin: 0 20px 20px;

  background-color: #000000;
}
