@import "@/domain/_assets/styles/variables";

.cart-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  max-height: 400px;
  padding: 20px;

  background-color: #ffffff;

  border: 1px solid #000000;
}

.cart-modal__body {
  margin-bottom: 20px;
  overflow: auto;
}

.cart-modal__item {
  display: flex;
  margin-bottom: 10px;
}

.cart-modal__img-box {
  width: 70px;
  height: auto;
  margin-right: 10px;
}

.cart-modal__img-box img {
  display: block;
  width: 100%;
  height: auto;

  line-height: 0;
}

.cart-modal__btn-box {
  margin-top: auto;
}

.cart-modal__empty {
  color: $color-black;
}

.dark .cart-modal__empty {
  color: $color-black;
}

.dark .cart-modal {
  color: $color-black;
}

.dark .cart-modal .button-default {
  color: $color-white;

  background-color: $color-black;
}
