@import "../../assets/styles/mixins";
@import "../../assets/styles/variables";

.about-layout {
  @include container;

  display: flex;
  flex-direction: column;

  flex-grow: 1;
  align-items: center;
  justify-content: center;

  padding: 20px 0;
}

.about-layout * {
  color: inherit;
}

.about-layout .button-default {
  color: $color-white;
}

.dark .button-default {
  color: $color-black;

  background-color: $color-white;
}
