.collection-preview-item {
  width: calc(25% - 20px);
  margin: 10px;
}

.collection-preview-item__image-box {
  position: relative;

  width: 100%;
  padding-bottom: 110%;
  overflow: hidden;
}

.collection-preview-item__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  display: block;
  width: 120%;
  height: auto;
  margin: 0;

  line-height: 0;
}

.collection-preview-item__button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 2;

  width: max-content;

  transform: translate(-50%, -50%);
  opacity: 0;

  transition: opacity 0.2s;
}

.collection-preview-item__image-box:hover .collection-preview-item__button {
  opacity: 1;
}
