@import "@/domain/_assets/styles/variables";

.button-default {
  margin: 0;
  padding: 10px 20px;

  color: $color-white;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;

  background-color: $color-black;
  border: none;

  cursor: pointer;
}

.button-default a {
  text-decoration: none;
}
