@import "./src/assets/styles/variables";

.about-page {
  padding: 40px 0;

  text-align: center;
}

.about-page__content {
  display: inline-block;
  margin-bottom: $space-md;

  vertical-align: middle;
}

.about-page__link a {
  text-decoration: none;
}

.about-page__link svg {
  display: inline-block;
  margin-right: $space-sm;

  vertical-align: middle;
}

.about-page__link span {
  display: inline-block;

  vertical-align: middle;
}

.about-page ul {
  text-align: left;
}
