@import "@/shared/assets/styles/main";

.layout {
  min-height: 100vh;
}

.header {
  height: auto;
  padding: $space-md 0;

  line-height: inherit;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.form {
  max-width: 400px;
  margin: 0 auto;
}
