@import "@/domain/_assets/styles/variables";

.nav-list {
  display: flex;
  align-items: flex-start;
  margin: 0 -10px;

  @media (min-width: $viewport-width-md) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

.nav-list a {
  display: block;

  text-decoration: none;
}

.nav-list__button-simple {
  margin: 0 4px;

  text-decoration: none;
}

.nav-list__button-icon {
  margin: 0 4px;

  text-decoration: none;
}

.nav-list__button-icon-box {
  position: relative;

  align-self: flex-end;
}

.nav-list__cart-modal {
  position: absolute;
  top: 30px;
  right: 10px;
  z-index: 10;

  display: none;
}

.nav-list__cart-modal .button-default {
  color: $color-white;
}

.nav-list__button-icon-box:hover .nav-list__cart-modal {
  display: flex;
}
