@import "@/shared/assets/styles/main";

.ant-layout :global(.ant-layout-sider) {
  background: var(--white);
}

.ant-layout :global(.ant-menu) {
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  padding: $space-md;

  border-bottom: $border-layout;
}

.btn {
  margin-right: $space-sm;
}

.content {
  padding: $space-md;
}

.page {
  min-height: 100%;
}
