.nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 -10px;
}

.nav-list__button-simple {
  margin: 0 4px;
}

.nav-list__button-icon {
  margin: 0 4px;
}
