.nav-list-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 -10px;
}

.nav-list-container__button-simple {
  margin: 0 4px;
}

.nav-list-container__button-icon {
  margin: 0 4px;
}

.nav-list-container__button-icon-box {
  position: relative;
}

.nav-list-container__cart-modal {
  position: absolute;
  top: 30px;
  right: 10px;
  z-index: 10;

  display: none;
}

.nav-list-container__button-icon-box:hover .nav-list-container__cart-modal {
  display: flex;
}
