@import "../../assets/styles/variables";

.collection-preview-list {
  margin-bottom: 40px;
}

.collection-preview-list__title {
  display: block;
  margin-bottom: 20px;

  color: inherit;
  text-decoration: none;
}

.collection-preview-list__title-content {
  display: inline-block;

  vertical-align: middle;
}

.collection-preview-list__title-icon {
  display: inline-block;
  margin-left: $space-sm;

  vertical-align: middle;
}

.collection-preview-list__preview {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}
