@import "../../assets/styles/variables";

.menu-item {
  position: relative;

  flex-grow: 1;
  flex-shrink: 1;
  height: 200px;
  margin: 10px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (min-width: $viewport-width-md) {
    width: calc(30% - 10px);
  }
}

.menu-item__box-content {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 10px;

  color: #000000;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: rgba($color: #ffffff, $alpha: 80%);
  border: 1px solid #000000;
  transform: translate(-50%, -50%);
}

.menu-item__description {
  font-weight: 300;
  font-size: 12px;
}
