@import "../../assets/styles/mixins";

.error-page {
  @include container;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;

  padding: 20px 0;
}

.error-page a {
  text-decoration: none;
}
