@use "sass:math";
@use "sass:map";
@use "sass:color";
@import "../config";

@function color-rgba($col, $alp) {
  $col-value: map.get($colors, $col);
  $red: color.red($col-value);
  $green: color.green($col-value);
  $blue: color.blue($col-value);
  $transparent-color: color.change($col-value, $alpha: $alp);

  @return rgba($red, $green, $blue, color.alpha($transparent-color));
}

@function divide($x, $y) {
  @return math.div($x, $y);
}

@function strip-unit($number) {
  @if type-of($number) == "number" and not unitless($number) {
    @return divide($number, ($number * 0 + 1));
  }

  @return $number;
}

@function rem($value, $base: 16px) {
  @return divide(strip-unit($value), strip-unit($base)) * 1rem;
}

@function rem-mobile($value, $base: 14px) {
  @return divide(strip-unit($value), strip-unit($base)) * 1rem;
}
