@import "@/domain/_assets/styles/variables";

.sign-in-form {
  @media (min-width: $viewport-width-md) {
    width: 46%;
  }
}

.sign-in-form__button-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 -20px;
}

.sign-in-form__button-default {
  margin: 0 20px 20px;

  &:first-child {
    background-color: #000000;
  }
}

.sign-in-form__button-default.button-default {
  color: $color-white;
}

.dark .sign-in-form__button-default.button-default {
  color: $color-black;

  background-color: $color-white;
}
