// colors
$colors: (
  "black": #000000,
  "white": #ffffff,
  "spinner-main": #1677ff,
);

// global for html body
$min-width-html: 340px;
$width-html: 100vw;
$width-body: 100%;
$min-height-html: 100vh;

// container
$container-max-width: 1200px;
$container-width-mobile: 100%;
$container-width-desktop: 100%;
$container-padding-mobile: 20px;
$container-padding-desktop: 40px;

// breakpoints
$width-sm: 576px;
$width-md: 768px;
$width-lg: 992px;
$width-xl: 1200px;
$width-xxl: 1600px;

// spaces
$space-xs: 6px;
$space-sm: 10px;
$space-md: 20px;
$space-lg: 30px;
$space-xl: 40px;
$space-xxl: 60px;

// borders
$border-layout: 1px solid rgb(5 5 5 / 6%);
