// color simple
$color-black: #000000;
$color-white: #ffffff;

// color pallet
$color-light-shades: #faf9fa;
$color-light-accent: #837b8c;
$color-main-brand: #9992a1;
$color-dark-accent: #7e716c;
$color-dark-shades: #211e23;

// container
$container-max-width: 1200px;

// viewport breakpoint
$viewport-width-xs: 480px;
$viewport-width-sm: 576px;
$viewport-width-md: 768px;
$viewport-width-lg: 992px;
$viewport-width-xl: 1200px;
$viewport-width-xxl: 1600px;

// space
$space-xs: 4px;
$space-sm: 6px;
$space-md: 10px;
$space-lg: 20px;
$space-xl: 40px;
