.menu-item {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  width: 30%;
  padding: 10px;

  border: 1px solid black;
}

.menu-item__box-content {
  background-color: gray;
}
