@import "../../assets/styles/variables";

.header-nav-container {
  padding: 20px 0;

  @media (min-width: $viewport-width-md) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
  }
}

.header-nav-container__logo-box {
  margin-bottom: $space-lg;

  @media (min-width: $viewport-width-md) {
    margin-bottom: 0;
  }
}

.header-nav-container__logo-box svg {
  display: block;
  width: 30px;
  height: auto;
}
