@import "./src/assets/styles/variables";

.contact-page {
  padding-top: $space-lg;

  text-align: center;
}

.contact-page a {
  color: inherit;
  text-decoration: none;
}

.contact-page__link a {
  text-decoration: none;
}

.contact-page__link svg {
  display: inline-block;
  margin-right: $space-sm;

  vertical-align: middle;
}

.contact-page__link span {
  display: inline-block;

  vertical-align: middle;
}
